<body>


<br>
<div class="container">
  <h1>
    <b>About Rogue Garden Center:</b>
  </h1>
  <p>
    The Rogue Garden Center is your best choice in gardening. Donec laoreet, dolor sed euismod porttitor, neque neque
    pharetra erat, id ultricies massa nisl ac lacus. Vestibulum suscipit commodo ante quis tincidunt. In hac habitasse
    platea dictumst. Quisque at augue quis tortor euismod tincidunt nec id magna. Quisque at augue quis tortor euismo.
    <br>
    <br>
    Tincidunt nec id magna. Aenean placerat, velit eget rutrum semper, sem nulla rutrum neque, nec consectetur est dui
    ornare lorem. Mauris metus nulla, aliquet non aliquam a, lacinia sed nulla. Pellentesque hendrerit, massa at euismod
    ullamcorper, enim tortor tincidunt sapien, nec convallis nisl mauris eu tellus. Fusce dapibus fermentum lectus, et
    tempus quam venenatis in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris metus nulla, aliquet non
    aliquam a, lacinia sed nulla. Praesent purus eros.
    <br>
    <br>
    Fringilla a posuere vitae, imperdiet quis dui. Fusce dapibus fermentum lectus, et tempus quam venenatis in. Donec
    facilisis feugiat ultrices. Curabitur consectetur varius velit in tempor. Aenean ac dolor velit. Fusce quis luctus
    erat. Vestibulum suscipit commodo ante quis tincidunt. Donec nisi elit, fermentum et venenatis ac, fermentum quis
    arcu. In sagittis, diam ac pretium gravida, nisl justo ornare odio, sed porta massa elit auctor dolor.
    <br>
    <br>
    Nunc purus dui, lacinia at hendrerit eget, sodales id erat. Vestibulum eu nunc at odio egestas suscipit. Mauris
    varius risus et orci porta eget tempus nulla posuere. Quisque at augue quis tortor euismod tincidunt nec id magna.
    Curabitur consectetur varius velit in tempor. Cras eget lectus ipsum. Praesent purus eros, fringilla a posuere
    vitae, imperdiet quis dui. Etiam nisi ligula.
  </p>
</div>
<br>
<hr>

<!-- Contact section -->
<div class="container">
  <Section class="contact">
    <h1>
      Contact:
    </h1>
    <div class="row">
      <div class="col-8">
        <form action="https://formspree.io/debbieforbeck@gmail.com" method="POST">
          <div class="control-group">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Your Name" id="name" required
                data-validation-required-message="Please enter your name" name="name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder="Your Email" id="email" required
                data-validation-required-message="Please enter your email" name="_replyto">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group">
              <textarea class="form-control" rows="7" placeholder="Your Message" id="message" required
                data-validation-required-message="Please leave a message" name="message"></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="text-center">
            <div id="success"></div>
            <button type="submit" class="btn btn-lg btn-black" style=color:black>
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </Section>
</div>
</body>