<body>

    <div>
    
        <h2 class="center">Our Featured Products</h2>
        </div>
        
        <table cellspacing="30" cellpadding="20">
          <tr>
            <th></th>
            <th></th>
            <th><h2>Annuals</h2></th>
            <th><h2>Perennials</h2></th>
            <th><h2>Trees & Shrubs</h2></th>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td><a routerLink="/products" routerLinkActive="active"><img width="450" src="/assets/Annuals.jpg" ></a></td>
              <td><a routerLink="/products" routerLinkActive="active"><img width="450" src="/assets/perennials.jpg" ></a></td>
              <td><a routerLink="/products" routerLinkActive="avtive"><img width="450" src="/assets/treesandshrubs.jpg" ></a></td>
          </tr>  
      </table>
    
    </body>