<!--The content below is only a placeholder and can be replaced.-->



<div>
  <div style="text-align:center ">
    <img width="450"  alt="logo" src="/assets/logo.png">
  </div>
</div>
<div>
<h2>Featured Products: </h2>
</div>
<div>
   <table> 
     <tr>
      <td>
          <img width="400" src="/assets/annuals.jpg">
          <a>Perennials - Annual plants live for only one growing season, during which they produce seeds, then die. Familiar annual plants include impatiens, zinnias, and sunflowers. /a>
      </td>
    </tr>
    <tr>
        <li>img width="400" src="/assets/perennials.jpg"></li>
     <a>Perennials - The term Perennial Plants is reserved for plants that live for more than two years.</a>
    </tr>
     <tr>
        <img width="400" src="/assets/treesandshrubs.jpg" >
        <a>Trees and Shrubs are woody plant. ... Plants of many species may grow either into shrubs or trees, depending on their growing conditions.</a>
     </tr>
    </table>
</div>



<router-outlet></router-outlet>

