<!--The content below is only a placeholder and can be replaced.-->

<body>

  <div>
    <div style="text-align:center  ">
      <img width="450"  alt="logo" src="/assets/logo.png">
    </div>
    <div>
    
    </div>
  </div>
  <div>
  <h2>Featured Products: </h2>
  <ul>
    <div>
   
        <h2><a><img src="/assets/annuals.jpg" rel="noopener" href="https://angular.io/cli">Annuals</a></h2>
    
    </div>
  <div>
    <li>
      <h2><a><img width="400"src="/assets/perennials.jpg" rel="noopener" href="https://angular.io/cli">Prennials</a></h2>
    </li>
    </div>
    <div>
    <li>
      <h2><a><img width="400" src="/assets/treesandshrubs.jpg" rel="noopener" href="https://blog.angular.io/">Trees & Shrubs</a></h2>
    </li>
  </div>
  </ul>
  </div>
  </body>
  
  <router-outlet></router-outlet>
  
  